* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Karla', sans-serif;
  color: #828282;
  font-size: 1.1em;
  background-color: #f8fbfc;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f8fbfc;
  z-index: 1;
}

#header-inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ebebeb;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  display: inline;
  margin-left: 15px;
  cursor: pointer;
  opacity: 0.8;
  padding-bottom: 21px;
  font-size: 0.8em;
  font-weight: bold;
}

main {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
  display: block;
}

section {
  min-height: 100vh;
  margin-top: 240px;
}

h1 {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 0.65em;
  border-bottom: 2px solid;
  opacity: 0.8;
}

strong {
  color: #525252;
}

#about-h1,
#menu-about {
  color: #e1515d;
  border-color: #e1515d;
}

#work-h1,
#menu-work {
  color: #82bb79;
  border-color: #82bb79;
}

#portfolio-h1,
#menu-portfolio {
  color: #f5b841;
  border-color: #f5b841;
}

#contact-h1,
#menu-contact {
  color: #6564db;
  border-color: #6564db;
}

.underline {
  border-bottom: 1px solid;
}
